<form class="form-row" (submit)="addPerson()">
  <div class="form-group col-md-2">
    <label for="name" class="sr-only">Nombre</label>
    <input type="text" name="name" id="name" placeholder="Nombre" class="form-control" [(ngModel)]="nameInput">
  </div>
  <div class="form-group col-md-2">
    <label for="last_name" class="sr-only">Apellido</label>
    <input type="text" name="last_name" id="last_name" placeholder="Apellido" class="form-control"
           [(ngModel)]="lastNameInput">
  </div>
  <div class="col">
    <button type="submit" class="btn btn-primary">
      Registrar
    </button>
  </div>
</form>
